body{
	/*default background color for all pages*/
	background-color: #969379;
}

.flex-inline-top-fixed {
	/*A fixed-position top bar/wrapper for inline navigation elements*/
	display: inline-flex;
	position: fixed;
	overflow: auto;
	top: 0;
	left: 0;
	width: 100%;
	box-sizing: border-box;
	background-color: tan;
	border-radius: 15px;
	border-bottom: solid 1px rgb(160, 130, 110);
	z-index: 4; /*In case of overlap, top bar will remain visible*/
  }
  
  .flex-top {
	/*Text elements in the top bar*/
	flex-direction: column;
	flex-basis: 120px;
	border-left: solid 4px rgb(160, 130, 110);
	text-align: center;
	& a {
	  text-decoration: none;
	  color: #333333;
	}
	& a:hover {
	  color: beige;
	}
  }

  .flex-top-icon {
	/*Image elements in the top bar*/
	/*May be used for social media links
	... but first I need social media*/
	flex-direction: column;
	flex-basis: content;
	text-align: center;
	float: inline-end;
	/*Note: float is not tested yet*/
	& a {
	  text-decoration: none;
	  color: #333333;
	}
	& a:hover {
	  color: beige;
	}
  }

.flex-inline-top-fixed-buffer{
	/*Ensures elements below the fixed top bar don't overlap*/
	/*There's probably a better way to do this...*/
	margin-top: 85px;
}

  .wrapper-grid {
	/*Container for main section*/
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto;
	gap: 15px;
	grid-auto-rows: minmax(100px, auto);
  }
  
  .content-box {
	/*General grid element*/
	grid-column: auto;
	grid-row: auto;
	background-color: tan;
	border-radius: 10px;
	padding: 10px 10px 10px 10px;
  }
  
  .content-1 {
	/*For placing inline with content-2*/
	grid-column: 1 / auto;
	grid-row: auto;
	background-color: tan;
	border-radius: 10px;
	padding: 10px;
  }
  
  .content-2 {
	/*For placing inline with content-1*/
	grid-column: 2 / auto;
	grid-row: auto;
	background-color: tan;
	border-radius: 10px;
	padding: 10px;
  }
  
  .footer {
	margin-top: 70px;
	color: #525252;
	text-align: center;
  }

  /*Scaling and flex for <600px width*/
  /*REQUIRES REVISION*/
  @media (max-width: 600px) {

	.wrapper-grid{
		margin: 0 auto !important;
	}
}