
.flex-inline-top-fixed {
	display: inline-flex;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	margin: 2px;
	width: 100%;
	background-color: tan;
	border-radius: 15px;
	z-index: 4;
  }
  
  .heading-top {
	/*Current page and leftmost heading top bar*/
	flex-basis: content;
	padding-left: 20px;
	color: #333333;
  }
  
  .flex-top {
	/*Other elements in the top bar (currently nav links)*/
	flex-direction: column;
	flex-basis: content;
	margin-left: 20px;
	border-left: solid 4px #8b7f6e;
	padding-left: 25px;
	padding-right: 15px;
	text-align: center;
	& a {
	  text-decoration: none;
	  color: #333333;
	}
	& a:hover {
	  color: beige;
	}
  }

.flex-inline-top-fixed-buffer{
	/*Ensures elements below the fixed top bar don't overlap*/
	/*There's probably a better way to do this...*/
	margin-top: 75px;
}

  .wrapper-grid {
	/*Container for main section*/
	box-sizing: border-box;
	display: grid;
	grid-template-columns: minmax(200px, auto);
	grid-template-rows: auto;
	gap: 15px;
	grid-auto-rows: minmax(100px, auto);
  }
  
  .content-box {
	/*General grid element*/
	grid-column: 1 / auto;
	grid-row: 1 / auto;
	background-color: tan;
	border-radius: 10px;
	padding: 10px;
  }
  
  .content-1 {
	grid-column: 1 / auto;
	grid-row: 1;
	background-color: tan;
	margin-top: 20px;
	border-radius: 10px;
	padding: 10px;
  }
  
  .content-2 {
	grid-column: 2 / auto;
	grid-row: 1;
	background-color: tan;
	margin-top: 20px;
	border-radius: 10px;
	padding: 10px;
  }
  
  .footer {
	margin-top: 50px;
	color: #525252;
	text-align: center;
  }
  
  /*Scaling and flex for <600px width*/
  @media (max-width: 600px) {
	header.flexbox-top-fixed {
	  width: fit-content;
	  position: static;
	}
}